/* Global box-sizing rule */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: rgb(14,13,13); /* Corrected the hex color value */
  color: darkgrey;
  margin: 0;
  font-family: Arial, sans-serif;
}

div{
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  width: 600px;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Center items vertically */
  padding: 10px;
  background-color: #000000; /* Adjusted background color for clarity */
  color: rgb(255, 255, 255);
  /*height: 50px;*/
}

.header__menu {
  display: flex;
  justify-content: left; /* Center items horizontally */
  flex: 1; /* Take up remaining space in the header */
}

.header__menu ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none; /* Remove default list style */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
  gap: 25px
}
p{
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
}

script{
  font-size: 1.8rem;
  font-weight: 600;
}
.header__menu a {
  font-size: 1.8rem;
  font-weight: 600;
  color: inherit; /* Ensure the color is inherited from the parent element */
  text-decoration: none; /* Remove underline from links */
  cursor: pointer;
}

.header__menu li {
  transition: transform 0.3s ease; /* Added transition for smoother scaling */
}

.header__menu li:hover {
  transform: scale(1.2);
}
